<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaolan.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="com.xiaolan.bean.Cart" >
    <id column="cart_id" property="cartId" jdbcType="INTEGER" />
    <result column="reference_id" property="referenceId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="items" property="items" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cart_id, reference_id, price, items, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaolan.bean.Cart" >
    insert into cart (cart_id, reference_id, price, 
      items, status)
    values (#{cartId,jdbcType=INTEGER}, #{referenceId,jdbcType=INTEGER}, #{price,jdbcType=REAL}, 
      #{items,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaolan.bean.Cart" >
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="referenceId != null" >
        reference_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="items != null" >
        items,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="referenceId != null" >
        #{referenceId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="items != null" >
        #{items,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaolan.bean.Cart" >
    update cart
    <set >
      <if test="referenceId != null" >
        reference_id = #{referenceId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="items != null" >
        items = #{items,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaolan.bean.Cart" >
    update cart
    set reference_id = #{referenceId,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      items = #{items,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
</mapper>